<ion-content [fullscreen]="true" class="letter">

  <ion-slides pager="true">
    <ion-slide *ngFor="let item of slides">
      <div class="slide-img-padding">
        <img [src]="item.img" alt="">
      </div>
      <div class="ion-padding">
        <h3 [innerHTML]="item.titulo"> </h3>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button routerLink="/pokemon-list" expand="full" 
                    color="danger" shape="round"
                    class="btn-primary">
          <ion-label color="light">Ver Pokemónes</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button routerLink="/pokemon-list" expand="full" 
                    color="dark" fill="clear"
                    class="btn-primary">
          <ion-label color="dark">Iniciar Sesión</ion-label>        
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>