ion-slide{
  display: block;
}

.slide-img-padding{
  padding: 40px;
}

h3 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #7a7a7a;
}

//////

.btn-primary{
  height: 60px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}


////////@at-root

ion-slides{
  --bullet-background: grey;
  --bullet-background-active: rgb(87, 87, 87);
}

// ///@at-root
@media screen and (max-height: 775px) {
   img{
     width: 70%;
   }
}

img {
  max-height: 400px;
}